#modul-monita-manual > a {
  font-family: "Fira Sans Extra Condensed", sans-serif;
  color: #589167;
  font-size: 26px;
  font-weight: 500;
}
.sidebar-nav > ul > li {
  color: #407750;
  font-family: "Fira Sans Extra Condensed", sans-serif;
  font-size: 19px;
  font-weight: 500;
}
.sidebar-nav > ul > li > ul > li > a {
  color: #414141;
  font-size: 16px;
  font-weight: 200;
}
.sidebar-nav > ul > li > ul > li > ul > li > a {
  color: #414141;
  font-size: 16px;
  font-weight: 200;
}

.text-success {
  background: rgb(52, 128, 49);
  color: aliceblue;
}

.text-danger {
  color: aliceblue;
  background: rgb(204, 10, 10);
}
